@import "tailwindcss";

.input {
  @apply bg-white/10 text-white px-4 py-3 rounded-lg outline-none focus:ring-2 focus:ring-cyan-400;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 0.8;
}
/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

/* .input-dark {
  @apply w-full px-4 py-3 rounded-xl
  bg-gray-900 text-white
  border border-gray-700
  focus:outline-none focus:ring-2 focus:ring-cyan-500;
} */


